.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

body {
    user-select: none;
}

h1{
    text-align: center;
     color: lightcoral;
}

button{
    text-align: center;
    background-color: lightcoral;
    color: white;
    padding: 5px;
    border: 0;
}

#level {
    text-align: center;
    color: lightcoral;
    font-size: 25px;
    max-width: 625px;
    margin: auto;
}

#board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 425px;
    margin:auto;
    list-style: none;
}

#board li{
    color: white;
    text-align: center;
    text-decoration: none;
    max-width: 50px;
    max-height: 50px;
    padding: 12px;
    border: 1px solid;
}

#board,
#level {
    display: none;
}

.error{
    color: white!important;
    border:none!important;
    background-color: orangered;
    box-shadow: none;
}

.red{
    background-color: #eb4646;
 -webkit-box-shadow: 10px 10px 5px 0px rgba(235, 70, 70, 0.597);
-moz-box-shadow: 10px 10px 5px 0px rgba(235, 70, 70, 0.597);
box-shadow: 10px 10px 5px 0px rgba(235, 70, 70, 0.597);
}
.yellow{background-color: #fad645;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(251, 215, 70, 0.597);
-moz-box-shadow: 10px 10px 5px 0px rgba(251, 215, 70, 0.597);
box-shadow: 10px 10px 5px 0px rgba(251, 215, 70, 0.597);

}
.green{background-color: #008046;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 128, 70, 0.597);
-moz-box-shadow: 10px 10px 5px 0px rgba(0, 128, 70, 0.597);
box-shadow: 10px 10px 5px 0px rgba(0, 128, 70, 0.597);

}
.blue{background-color: #000046;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 70, 0.597);
-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 70, 0.597);
box-shadow: 10px 10px 5px 0px rgba(0, 0, 70, 0.597);

}
.teal{background-color: #0fc2c5;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(15, 194, 197, 0.597);
-moz-box-shadow: 10px 10px 5px 0px rgba(15, 194, 197, 0.597);
box-shadow: 10px 10px 5px 0px rgba(15, 194, 197, 0.597);

}
.Salmon{background-color: #FA8072;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(250, 128, 114, 0.597);
-moz-box-shadow: 10px 10px 5px 0px rgba(250, 128, 114, 0.597);
box-shadow: 10px 10px 5px 0px rgba(250, 128, 114, 0.597);
}


.red,
 .yellow,
  .green, 
  .blue, 
  .teal, 
  .Salmon {
    color:white!important;
}
.unclickable {
  pointer-events: none;
}